.yellow-square{
  background: yellow;
  text-align: center;
  padding: 5px;
  margin: 0px;
  border: 2px solid black;
}

.tercio{
  text-align: center;
}
.tercio p{
  background: red;
  margin: 20px 25px;
}

.tercio img{
  margin: 20px auto;
  display: block;

}

body{
  margin: 0px;
  padding: 0px;
}

article{
  border: 2px solid black;
  display: inline-block;
  margin: 0px;
  width: 32.8%;
  height: 400px;
}
